a {
    color: black;
    text-decoration: none;
}

.pink-background{
    background-color: hotpink
}

p{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

#my-name{
    color: white;
    background-color: plum;
    padding: 10px
}